.selectedPage {
    font-weight: bold;
}

.paginator{
    margin: 20px 20px 20px 0px;
    text-align: center;
}

.paginator button{
    padding: 5px 10px;
    border-radius: 50px;
    border: 1px;
    font-weight: 600;
    color: rgb(253, 251, 251);
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%),
    0 1px 3px rgba(0, 0, 0, 0.467);
    cursor: pointer;
    background-color: rgba(2, 78, 193, 0.737);
}

.buttonPaginator:hover{
    transition: all 0.2s;
    box-shadow: 0 7px 14px rgb(65 132 144 / 10%),
    0 3px 6px rgb(0 0 0 / 8%);
    color: #fff;
    background-color: rgba(3, 64, 155, 0.737);
}

.pageNumber {
    padding: 2px;
    margin: 1px;
    cursor: pointer;
}

.pageNumber:hover{
    color:#fff;
}

.pageNumber .selectedPage {
    font-weight: bold;
    border-color: black;
}

.paginatorStyle{
    height: 100%;
    width: 100%;
    background-color: #fff;
    position: relative;
}

.preloaderImg{
    display: flex;
    justify-content: center;
}
