.postsBlock{
    padding: 20px;
}

.posts{
    margin-top: 10px;
}

.enterPost{
    border-radius: 10px;
    box-shadow: 0px 7px 14px rgba(1, 5, 63, 0.1),
    10px 8px 10px rgb(20 40 80 / 8%);
    border: transparent;
    width: 940px;
    height: 100px;
    padding: 10px;
}

.addPostButton{
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    font-weight: bold;
    text-transform:uppercase;
    background-color:rgba(17, 84, 185, 0.811);
    margin: 10px 0px 30px 20px;
    box-shadow: 0px 7px 14px rgba(1, 5, 63, 0.1),
    10px 8px 10px rgb(20 40 80 / 8%);
}

.addPostButton:hover{
    background-color: rgba(2, 60, 146, 0.904);
}

.title{
    margin-left : 20px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'SourceSansBold';
}
