.nav {
    grid-area: n;
    background-color: rgb(169, 172, 172);
    padding: 10px;
}

.item a{
    color:white;
    text-decoration: none;
    padding: 20px;
}

.item{
    margin: 10px 0px;
}

.item a:focus {
    color: rgb(4, 48, 115);
}

.item a:hover{
    color: rgb(4, 48, 115);
}