.descriptionBlock{
    padding: 20px;
    order:1;
}

.profileInfoBlock{
    order: 2;
    padding: 20px;
}

.mainProfileBlock{
    display: flex;
}

.photoChange{
    opacity: 1;
    position: absolute;
    top: 70px;
    height: 250px;
    width: 250px;
}

.mainPhoto {
    max-width: 250px;
}

.photoChange{
    cursor: pointer;
}

.contact{
    padding-left: 10px;
}

