.item{
    color:rgb(16, 16, 16);
    padding: 20px;
    margin: 10px 0px;
    border-radius: 20px;
    box-shadow: 0px 7px 14px rgba(1, 5, 63, 0.1),
    10px 8px 10px rgb(20 40 80 / 8%);
    background-color: #fff;
    display: flex;
}

.item img{
    width: 50px;
    height: 50px;
    border-radius:30px;
}

.postText{
    padding: 20px;
}